set colored-stats on
set colored-completion-prefix on
set completion-ignore-case on
set completion-display-width 100
set print-completions-horizontally on
TAB: menu-complete

set echo-control-characters off

"\C-g": "mvt\r"
